.ResearchContainer {
  padding-top: 1vh;
  font-family: 'avenir';
  display: flex;
  flex-flow: column wrap;
  padding-right: 10vh;

  @media screen and (max-width: 720px) {
    padding-right: 0;
  }
}

.Title_research {
  /* font-size: 24px; */
  padding-bottom: 1vh;
  font-family: 'avenir';
}

.PaperTitle {
  color: maroon;
  font-weight: bold;
  font-family: 'avenir';
  /* font-size: 18px; */
  font-style: italic;
}

.Authors {
  /* font-size: 18px; */
  font-color: gray;
  font-family: 'avenir';
}

.Venue {
  /* font-size: 18px; */
  color: rgb(100, 78, 78);
  font-family: 'Lato';
}

.Details {
	color: rgb(65, 72, 117);
  text-decoration: none;
  /* font-size: 18px; */
  font-family: 'avenir';
  font-weight: 'bold';
}

.Description {
    font-size: calc(2vmin);
    font-family: 'avenir';
}

.Talk {
  color: maroon;
  font-weight: bold;
  font-family: 'avenir';
  /* font-size: 18px; */
}

.Talk_details {
  /* font-size: 18px; */
  font-style: italic;
  font-weight: bold;
  color:rgb(100, 78, 78);
  font-family: 'avenir';
}