
.fa-goodreads {
    padding-right: 1vh;
    height: 10%;
    width: 10%;
    font-weight: bold;
    background: white;
    /* color: #553b08;  */
    color: rgb(51, 51, 51);
  }

  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
/* 
  .lists {
      flex-direction: row;
      display: inline-block;
  } */

  .books {
      display: inline;
      display: inline-block;
  }
