.AboutContainer {
	font-family: 'avenir';
	font-size: calc(1px);
	display: flex;
  	flex-flow: column wrap;
	padding-right: 14vh;

	@media screen and (max-width: 720px) {
		padding-right: 0;
	  }
}

.Title_about {
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 1vh;
}

.AboutText {
	font-size: calc(2vmin);
	line-height: 1.4;
}

.AboutSubText {
	font-size: calc(3px + 2vmin);
}

.abtli {
	margin: 10px 0;
}

.abt_a {
	color: maroon;
}

.footnote {
	font-style: italic;
}