.SchoolContainer {
    padding-top: 1vh;
    font-family: 'avenir';
    font-size: 16;
    display: flex;
    flex-flow: column wrap;
    padding-right: 10vh;

    @media screen and (max-width: 720px) {
      padding-right: 0;
    }
  }

  .header_projects {
    font-size: 24px;
    font-weight: bold;
    font-family: 'avenir';
    display: flex;
  }
  
  .Name {
     font-size: 18px;
     font-family: 'avenir';
     padding-bottom: 3vh;
  }
  
  .Degree {
    color: #7CB9BC;
    font-weight: bold;
    font-style: italic;
    font-family: 'avenir';
    font-size: 16px;
  
  }
  .Affilliations {
    font-size: 16px;
    font-weight: bold;
    color: rgb(155, 111, 111);
    font-family: 'avenir';
  }
  
  .Details_edu {
    color: rgb(71, 71, 71);
    text-decoration: none;
    font-size: 16px;
    font-family: 'avenir';
    font-style: italic;
  }
  
  .Description {
    color: rgb(71, 71, 71);
    text-decoration: none;
    font-size: 16px;
    font-family: 'avenir';
  }

  .logo_school {
    display: inline;
    margin: 10x;
    padding: 5px;
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
  }
  .logo-img_school {
      /* display: block; */
      /* display: inline; */
      /* width: 80px;
      height: 70px; */
      width: 80px;
      padding-right: 1rem;
      padding-bottom: 1rem;
  }
  
  .text_school{
    display: inline-block;
    align-items: center;
    padding-top: 1rem;
  }
  
/* The actual content */
.content_school {
  position: left;
  border-radius: 6px;
}

  .description {
    padding-top: 4rem;
  }

  .title_section {
    display: flex;
    justify-content: space-between;
  }
  

